#main {
    background-color: #F7F7F7;
    color: #333333;
    font: 12px/1.4 arial, FreeSans, Helvetica, sans-serif;
}
#container-header {
    min-height: 5em;
    padding: 1em 1em 0 6em;
    position: relative;
}
#container-header img {
    display: block;
    font-size: 1em;
    left: 1em;
    overflow: hidden;
    position: absolute;
    top: 1em;
}
#container-header h1 {
    color: #3C78B5;
    margin-left: 10px;
}
#main-content {
    min-width: 966px;
    padding: 0 1em;
}
ul.vertical {
    float: left;
    margin-right: -0.083em;
    position: relative;
    width: 8em;
}
ul.vertical li {
    margin:-0.083em 0 0;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}
ul.tabs li {
    border: 0.083em solid #BBBBBB;
    display: block;
    margin: -0.083em -0.083em 0 0;
    padding: 0;
}
ul.vertical li.active {
    background-color: #FFFFFF;
    border-right: medium none;
    margin-left: -0.5em;
}
ul.vertical li.first {
    margin-top:1em;
}
ul.tabs li a {
    background-color: #F0F0F0;
    color: #535353;
    display: block;
    font-weight: 700;
    text-decoration: none;
}
ul.tabs li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
ul.tabs li.active.loading a {
    background: url("/images/indicator.gif") no-repeat scroll 95% center #FFFFFF;
}
ul.tabs li strong {
    display: block;
    overflow: hidden;
    padding: 0.4em 0.5em 0.2em;
    white-space: nowrap;
}
ul.tabs li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #535353;
}
.active-area {
    -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    min-height: 600px;
    position: relative;
    overflow-x:auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.active-area h2 {
    font-size: 1.6em;
    margin: 0.5em 0.5em 0;
}
#quicklinks {
    position: absolute;
    right: 8px;
    top: 15px;
    z-index: 1000;
}
ul.operations {
    list-style-type: none;
    margin: 0;
}
ul.operations li.menu-button, ul.operations li.menu-group{
    float: left;
    margin: 0 0 0 4px;
    position: relative;
}
#primary, #secondary {
    width: 49.9%;
}
#main-content .column {
    float: left;
    margin: 0;
}
.content {
    margin:0 0.832em 0.832em;
}
.module {
    background-color: #FFFFFF;
    clear: both;
    margin-bottom: 0.5em;
    word-wrap: break-word;
}
.mod-header, .mod-content, .mod-footer {
    clear: both;
    display: block;
}
.mod-header {
    background: url("/images/study/mod_header_bg.png") repeat-x scroll 0 18px #FFFFFF;
    padding: 0.5em 0;
}
.mod-header h3, .mod-header span {
    background-color: #FFFFFF;
    color: #808080;
    display: inline;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding-right: 0.25em;
}
.mod-header span { font-size: 0.8em; font-weight: 100; background-color: transparent; }
.mod-header span:HOVER { color: black; cursor: pointer; }
.mod-content {
    font-size: 1.167em;
    line-height: 1.429;
}